/* color properties */
:root {
    --lv0: #fff;
    --lv1: #0ff;
    --lv2: #0cf;
    --lv3: #09f;
    --lv4: #06f;
    --lv5: #03f;
    --lv6: #00f;
    --lv7: #77f;
    --lv8: #b7f;
    --lv9: #f7e;
    --lv-: #fed;
    --lvX: #ddd;

    --tlv0: #00c;
    --tlv1: #05f;
    --tlv2: #0af;
    --tlv3: #0ff;
    --tlv4: #cff;
    --tlv5: #fff;
    --tlv6: #fdd;
    --tlv7: #fbb;
    --tlv8: #f99;
    --tlv9: #f66;
}

/* body */
body {
    min-width: 1100px;
    font-family: sans-serif;
    color: #333;
    font-size: 90%;
}

/* initial load indicator */
#initial {
    position: absolute;
    display: block;
    top: 50px;
    left: 0;
}

/* navbar */
.navbar {
    width: 100%;
    min-width: 1100px;
    padding: 0;
    border-bottom: 1px solid #ccc !important;
}

.navbar-brand { margin-right: 0; }

#usage {
    margin-left: 10px;
    height: 24px;
    width:  48px;
    font-size: 75%;
}

#init_b, #init_f, #init_e, #init_n, #init, #area, #orga, #elem {
    height: 36px;
    font-size: 90%;
}
#init_b, #init_f { width:  36px; }
#init_e, #init_n { width:  72px; }
#init, #area, #orga { width: 126px; font-size: 110%; padding-left: 2px; }
#area { font-weight: bold; }
#init_control, #area_control, #orga_control { margin-left: 10px; }

button.btn { padding: 0; }

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.toggle-group {
            transition: left 0.1s;
    -webkit-transition: left 0.1s;
}

.alertanim {
    font-weight: bold; animation: alertAnim 1s infinite alternate;
}
@keyframes alertAnim {
   0%{ color : #333; }
 100%{ color : #f33; }
}

/* chohyo */
#chohyo { overflow-y: scroll; }

#fixheader, #sheet {
    border-left:  2px solid #666;
    border-right: 2px solid #666;
    border-top:   2px solid #666;
}

#fixheader {
    position: fixed;
    z-index: 990;
    border-bottom: 2px solid #666;
}

#sheet {
    margin-top: 2px;
    border-bottom: 2px solid #666;
}

td, th {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

th { height: 32px; background-color: #FFFFFF; position: relative; }
td { height: 32px; }

#sheet td {
    border-top: 2px solid rgba(0,0,0,0.05);
}

#sheet tr:hover {
    border-left:  2px solid #666;
    border-right: 2px solid #666;
}

#sheet tr:hover td {
    border-top:    2px solid #666;
    border-bottom: 2px solid #666;
}

#sheet .point_selected_tr {
    border-left:  2px solid #f84 !important;
    border-right: 2px solid #f84 !important;
    box-shadow: 0px 0px 5px #f84;
}

#sheet .point_selected_td {
    border-top:    2px solid #f84 !important;
    border-bottom: 2px solid #f84 !important;
}

.colR      { background-color: rgba(255, 128,   0, 0.5); }
.colG      { background-color: rgba(129, 255, 129, 0.5); }
.colRlight { background-color: rgba(255, 128,   0, 0.2); }
.colGlight { background-color: rgba(129, 255, 129, 0.2); }
.colK      { background-color: rgba(  0,   0,   0, 0.5); color: #ffffff; }
.colGray   { background-color: rgba(  0,   0,   0, 0.3); }

.joho { font-weight: bold; animation: johoAnime 1s infinite alternate; }
@keyframes johoAnime{
   0%{ color : #ff0000; background: #000000; }
 100%{ color : #ffffff; background: #ff0000; }
}

.lv0 { background-color: #fff; }
.lv1 { background-color: #0ff; }
.lv2 { background-color: #0cf; }
.lv3 { background-color: #09f; color: #fff; }
.lv4 { background-color: #06f; color: #fff; }
.lv5 { background-color: #03f; color: #fff; }
.lv6 { background-color: #00f; color: #fff; }
.lv7 { background-color: #77f; color: #fff; }
.lv8 { background-color: #b7f; color: #fff; }
.lv9 { background-color: #f7e; }
.lv- { background-color: #fed; }
.lvX { background-color: #ddd; }

.tlv0 { background-color: #00c; color: #fff; }
.tlv1 { background-color: #05f; color: #fff; }
.tlv2 { background-color: #0af; color: #fff; }
.tlv3 { background-color: #0ff; }
.tlv4 { background-color: #cff; }
.tlv5 { background-color: #fff; }
.tlv6 { background-color: #fdd; }
.tlv7 { background-color: #fbb; }
.tlv8 { background-color: #f99; }
.tlv9 { background-color: #f66; }

.td-prf { width:  50px; }
.td-sec { width:  80px; }
.td-ctv { width:  80px; }
.td-cls { width:  65px; }
.td-alt { width:  45px; }
.td-nam { width: 200px; }
.td-ico { width:  25px; }
.td-snc { width:  45px; }
.td-snw { width:  35px; }
.td-sns { width:  35px; }
.td-snn { width:  35px; }
.td-dnn { width:  35px; }
.td-s01 { width:  35px; }
.td-tmp { width:  35px; }
.td-ymd { width: 100px; }
.td-cht { width: 120px; }

/* chohyo th */
th.td-snc, th.td-snw, th.td-sns, th.td-tmp, th.td-snn, th.td-dnn, th.td-nam { cursor: pointer; }
th.td-snc, th.td-snw, th.td-sns, th.td-tmp, th.td-snn, th.td-dnn { font-size: 80%; }

th.td-ico span {
    font-size: 75%;
        writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
}

.up, .down {
    position: absolute;
    left: 50%;
    width: 100%;
            transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size: 70%;
    color: #ddd;
}
.up   { top:    -3px; }
.down { bottom: -3px; }
.updown-selected { color: #f84; }

/* chohyo td */
td.td-prf { font-weight: bold; }
td.td-ctv { font-size: 80%; }
td.td-alt { font-size: 75%; text-align: right; }
td.td-cls { font-size: 75%; }
td.td-snn { font-size: 85%; }
td.td-dnn { font-size: 85%; }
td.td-tmp { font-size: 85%; }

span.td-alt-unit { font-size: 75%; margin-left: 1px; margin-right: 3px; }

td.td-nam { line-height: 50%; }
span.td-nam-main { font-weight: bold; }
img.td-nam-sub { height: 13px; margin-left: 3px; }
span.td-nam-obs { font-size: 70%; color: #888; }

td.td-snw, td.td-sns { font-size: 80%; color: #666; }
td.td-snc { font-weight: bold; }

td.td-tmp { font-size:  85%; }

td.leftline { border-left: 1px solid #666; }

.set_point { cursor: pointer; }

/* minicharts */
.chart_container, .chart_container div[id^=chart] { width: 120px; height: 32px; }
.chart_container { position: relative; }
.chart_container div[id^=chart] { position: absolute; top: 0; left: 0; }
.chart_container div[id^=chart1_] { z-index: 6; }
.chart_container div[id^=chart2_] { z-index: 7; }
.chart_container div[id^=chart3_] { z-index: 8; }

.chart-snc .ct-area { fill:   #0bf; }
.chart-snc .ct-line { stroke: #0bf; stroke-width: 1px; }
.chart-s01 .ct-bar  { stroke: #018; stroke-width: 5px; }
.chart-tmp .ct-line { stroke: #c30; stroke-width: 1px; }

.col-snc { color: #0bf; font-size: 85%; }
.col-s01 { color: #018; font-size: 85%; }
.col-tmp { color: #c30; font-size: 85%; }


/* collapse control */
#collapse_control {
    position: fixed;
    display: none;
    z-index: 980;
    background-color: rgba(200, 230, 240, 0.7);
    top: 150px;
    border-radius: 0 8px 8px 0;
}

.collapse_elems {
    font-size: 70%;
    margin: 8px;
    text-align: center;
}

#collapse_control .btn { font-size: 90%; }


/* right pane */
#right_pane {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width:  100%;
}

/* map */
#map_container {
    position: absolute;
    top: 0;
    right: 0;
    width:  100%;
    height: 100%;
    background-color: #fff;
}

#elem_control {
    position: absolute;
    top: 10px;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    z-index: 900;
    background-color: rgba(255, 255, 255, 0.8);
}

#elem { width: 180px; padding-left: 2px; }

#opacity_control {
    z-index: 990;
    display: none;
}

#tile_legend {
    position: absolute;
    top: 60px;
    left: 70px;
    z-index: 989;
    display: none;
}

.Mlv0 { color: #333; }
.Mlv1 { color: #0cc; }
.Mlv2 { color: #0ad; }
.Mlv3 { color: #08d; }
.Mlv4 { color: #06f; }
.Mlv5 { color: #03f; }
.Mlv6 { color: #00f; }
.Mlv7 { color: #66d; }
.Mlv8 { color: #96d; }
.Mlv9 { color: #e7e; }
.Mlv- { color: #da8; }
.MlvX { color: #999; }

.tMlv0 { color: #00e; }
.tMlv1 { color: #05e; }
.tMlv2 { color: #09e; }
.tMlv3 { color: #0ee; }
.tMlv4 { color: #9ee; }
.tMlv5 { color: #bbb; }
.tMlv6 { color: #eaa; }
.tMlv7 { color: #e88; }
.tMlv8 { color: #e77; }
.tMlv9 { color: #e66; }
.tMlvX { color: #999; }

.leaflet-div-icon {
    position: absolute;
    width:  20px !important;
    height: 20px !important;
    margin-left:  -10px !important;
    margin-right: -10px !important;
    background-color: transparent;
    border: 0;
    text-align: center;
}

[class*="Mlv"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 0 6px #fff;
}

.leaflet-popup-content {
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

.tooltiptext-small {
    font-size: 80%;
}

/* slider */
input[type="range"] {
    padding: 0;
    width: 80px;
    height: 8px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
            appearance: none;
    -webkit-appearance: none;
    width:  16px;
    height: 16px;
    border-radius: 50%;
    background: #17a2b8;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    width:  16px;
    height: 16px;
    border-radius: 50%;
    background: #17a2b8;
    cursor: pointer;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input::-ms-clear {
    display: none;
    width: 0;
}
input[type=range]::-ms-tooltip {
    display: none;
}

/* big charts */
#graph_container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    display: none;
    overflow-y: scroll;
}

div[id^=chartbig-] {
    position: relative;
    height: 33%;
}

span[id^=behind-chartbig-] {
    position: absolute;
    top: 5px;
    left: 50px;
    font-size: 100%;
    font-weight: bold;
}

#graph_close {
    position: absolute;
    top:   5px;
    right: 5px;
    width:  25px;
    height: 25px;
    z-index: 100;
    cursor: pointer;
}

.chartbig-snc .ct-area { fill:   #0bf; }
.chartbig-snc .ct-line { stroke: #0bf; stroke-width: 3px; }
.chartbig-s01 .ct-bar  { stroke: #018; stroke-width: 3%;  }
.chartbig-tmp .ct-area { fill:   #c30; }
.chartbig-tmp .ct-line { stroke: #c30; stroke-width: 3px; }

.ct-label, .ct-axis-title   { fill: rgba(0,0,0,0.6); }
.chartbig-snc text.ct-label { fill: #0bf; font-weight: bold; }
.chartbig-s01 text.ct-label { fill: #018; font-weight: bold; }
.chartbig-tmp text.ct-label { fill: #c30; font-weight: bold; }


/* popup */
.popwrap {
    position: fixed;
    z-index: 2001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.poprel {
    position: relative;
    z-index: 2002;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#usagearea {
    position: absolute;
    z-index: 2003;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 80%;
    padding: 25px;
            transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    font-size: 90%;
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    border-radius: 10px;
}
.pop0 {
    z-index: 2004;
    position: absolute;
    top: 25px;
    width: calc(100% - 50px);
    height: 75px;
}
.pop1 {
    z-index: 2006;
    position: absolute;
    top: 100px;
    width: calc(100% - 50px);
    height: calc(100% - 125px);
    text-align: left;
    overflow-y: scroll;
}
.popclose {
    z-index: 2010;
    position: absolute;
    top:   10px;
    right: 10px;
    width:  30px;
    height: 30px;
    cursor: pointer;
}

#usagetitle {
    font-size: 120%;
    font-weight: bold;
}

#button1area {
    position: absolute;
    z-index: 2003;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 25px;
            transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    font-size: 90%;
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    border-radius: 10px;
}
#choka {
    font-size: 150%;
    font-weight: bold;
    width: 700px;
    margin: 0 0 15px 0;
    text-align: left;
}
